body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

.logo-title {
    font-size: 24px;
    font-weight: 700;
    color: #06283D;
}

.navbar {
    background-color: white;
    font-weight: 500;
    font-size: large;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-btn a {
    color: #2FA4FF;
    margin: 16px;
    padding: 6px;
    width: auto;
    height: 36px;
}

.nav-btn a:hover {
    color: white;
    background-color: #2FA4FF;
    border-radius: 10px;
}

.profile i {
    font-size: 48px;
}

.profile-name {
    font-size: 20px;
}

.nav-toggle i {
    font-size: 32px;
}

.star {
    color: orange;
}

body {
    background-color: #06283D;
}

.hotel-selected {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}

.hotel-card img {
    width: 30%;
    border: 2px solid;
    box-shadow: 0 2px;
}

.booking-form {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 8px;
    z-index: 20;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px
}

.booking-form .form-control {
    background-color: rgba(47, 164, 255, 0.5);
    height: 50px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: white;
}

.booking-form .form-label {
    left: 25px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.booking-form .submit-btn {
    color: #fff;
    background-color: #2FA4FF;
    font-weight: 700;
    height: 60px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 16px;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.7;
}